<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SubirImagenesClientes.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=sqltajamar.database.windows.net;Initial Catalog=Hospital;User ID=adminsql;Password=Tajamar123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>